html, body {
  margin: 0px 0px;
  padding: 0px 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
  scroll-behavior: smooth;
  background-color:#dfdcd34d;
}

#root {
  width: 100%;
  min-height: 100vh;
}


